@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        width: auto;
        height: 100%;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design  {
     .image-responsive {
          display: block;
          width: 100%;
     }
     .page__header {
          background-image: url("../images/header-2560w.webp");
          background-size: cover;
          background-position: top left;
          padding: 1em;
     }
     .page__logo {
          display: block;
          padding: 1em;
          height: 2em;
          aspect-ratio: 42 / 24;
          margin: 0 auto;
     }
     /* .page__logo-container { 
          text-align: center; 
     /* }  /* zbytečný zatím */
     .page__intro {
          color: var(--light, white);
          margin-left: 8em;
          margin-bottom: 7em;
          margin-top: 20em;
          width: 36%;
     }
   
     .button{
          display: inline-block;
          background-color: var(--primary, teal);
          color: var(--light, white);
          padding: 0.75em 1em;
          border-radius: 0.5em;
          font-weight: 700;
          text-decoration: none;
     }
     .button:hover{
          text-decoration: underline;
          text-decoration-thickness: .05em;
          background-color: var(--black, black);
          color: var(--light, white);
     }
     .button--light{
          background-color: var(--light, white);
          color:var(--black, black);
     }
     .page__content {
          padding: 1em;
          max-width: 960px;
          margin: auto;
     }
     .picture-box {
          margin: 1em 0em;
     }
     .picture-box__caption {
          font-size: 0.8em;
          color: var(--gray, gray);
          text-align: center;
          margin-top: .75em;
     }
     .text-h3 {
          font-size: 1.125em;
          font-weight: 700;
          margin-bottom: 1em;
     }
     .outline-box {
          border: 3px solid var(--primary, teal);
          padding: 1em;
          margin: 1em 0;
     }
     .list > li::marker {
          color: var(--primary, aqua);
     }
     .list > li {
          padding: 1em;
     }
     .product {
          display: inline-block;
          padding: 1em;
          max-width: 24em;
     }
     .outline-box--black {
          background-color: var(--gray, gray);
          color: var(--light, light);
          text-align: center;
          padding: 2.5em;
     }
     .page__footer {
          background-color: var(--gray, gray);
     }
     .page__footer p {
          color: var(--light, light);
          text-align: center;
          padding: 2em;
          margin-bottom: 0;
     }
     .text-h3--bigger {
          font-size: 3em;
          margin: 0em;
     }
     .text-h1--smaller {
          font-size: 2em;
     }
     .text-h1 {
          font-size: 4em;
          font-weight: 900;
          display: inline;
     }
     @media screen and (max-width: 640px){
          .page__intro {
               margin-left: 0;
               margin-top: 2em; 
               width: 100%;
          }
     }
}













